:root {
    --body-bg-color: #FFFFFF;
    --black-color: #FFFFFF;
    --white-color: #292e36;
    --gray-color: #555555;
    --transparent-gray: rgba(255, 255, 255, 0.4);
    --card-color: #343942;
    --we-offer-border: #717477;
    --book-table: rgba(137, 139, 141, 0.95);
    --darken-black: #fff;
}

:root[theme='dark'] {
    --body-bg-color: #292e36;
    --black-color: #292E36;
    --white-color: #FFFFFF;
    --gray-color: #dad7d7;
    --transparent-gray: #555555;
    --card-color: #9e9c9c;
    --we-offer-border: #323841;
    --book-table: rgba(41, 46, 54, 0.95);
    --darken-black: #000;
}


@media screen and (max-width: 768px) {

    .header__preview,
    .navbar__container {
        display: none;
    }

    .burger__panel {
        padding: 0 40px;

        display: flex;

        justify-content: flex-start;
        height: 82px;
        position: fixed;
        z-index: 111111111111111;
        align-items: center;
        color: #fff;
    }

    .burger {
        width: 60px;
        height: 40px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        justify-content: space-between;
        position: fixed;
    }
    .burger__btn__img {
        width: 44px;
    }
    .burger span {
        width: 60px;
        height: 3px;

        background-color: var(--white-color);
    }

    .burger__content {
        width: 100%;
        min-height: 100vh;
        background-color: gray;
        transform: translateX(-100%);
        transition: 1s;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1111111;

    }

    .burger__logo {
        width: 250px;
    }

    .burger__btns {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        margin-bottom: 30px;
    }

    .burger__btn {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #fff;
        font-family: 'Josefin Sans', sans-serif;
        transition: 1s;
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    .burger__btn:hover {
        color: #e1b168;
    }

    .header {
        height: 0;
    }

    .delivery__story {
        display: flex;
        align-items: flex-start;

    }

    .deivery__story__content {
        position: relative;
        flex-direction: column;


    }

    .delivery__story__left {

        align-items: flex-start;
    }

    .delivery__story__right {

        height: 100%;

    }

    .delivery__story__left img {
        object-fit: contain;
        height: auto;
    }

    .dishes__left__button {
        margin: 0 auto;
    }

    .we__offer {
        height: 1100px;
    }

    .we__offer__content {
        width: 100%;
        padding-top: 50px;
    }

    .we__offer__cards {

        width: 100%;
        grid-template-columns: minmax(0, 1fr);
    }

    .blog__second__title {
        text-align: center;
    }

    .blog__cards {
        grid-row-gap: 30px;
        grid-template-columns: minmax(0, 1fr);
    }

    .book__table__form {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer__hashtag {

        margin-bottom: 0px;
    }

    .footer__networks {

        margin-bottom: 0px;
    }

    .footer__copyright {
        flex-direction: column;
        align-items: center;
    }

    .footer__copyright__right {
        order: 1;
    }

    .footer__copyright__left {
        order: 2;
    }

    .footer__preview {
        flex-direction: column;
        align-items: center;
    }

    .footer__main {
        order: 1;
    }

    .footer__preview {
        order: 2
    }

    .footer__main__element {
        flex-direction: column;
    }

    .customer__card {
        flex: 0 1 544px;
        height: 600px;
        padding: 10px;
    }


}

@media screen and (max-width: 400px) {
    .welcome__title {
        font-size: 32px;
    }

    .offers__card__content__image {
        opacity: 0.3;
    }

}

@media screen and (max-width: 450px) {
    .welcome__title {
        font-size: 23px;

    }

    .welcome__content {

        padding-left: 0px;
        padding-right: 0px;

    }

    .dishes__content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .dish__element__price {
        margin-top: auto;
    }

    .dish__element__image {
        width: 60px;
    }

    .dish__element__title {
        font-size: 20px;
    }

    .dish__element__about {
        font-size: 16px;
        margin-bottom: 0;
    }

    .mini__info__item {
        max-width: 100%;
        width: 100%;
    }

    .mini__info__content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .mini__info__item {
        column-gap: 5px;
    }

    .mini__info__item__about {
        font-size: 17px;
    }

    .popular__content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .popular__card__header {
        flex-direction: column;
        align-items: center;
    }

    .footer__copyright__item {

        white-space: wrap;
    }

    .footer__copyright__left {
        max-width: 340px;
    }

    .footer__preview__logo {
        width: 240px;
    }

    .footer__main__element__day {
        align-items: center;
        flex-direction: column;
    }

    .footer__copyright__right {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .offers__card__content__image {
        opacity: 0.3;
    }

}


@media screen and (max-width: 540px) {
    .book__table__input {
        width: 100%;
    }

    .book__table__forms__first,
    .book__table__forms__second {
        flex-direction: column;
    }

    .footer__copyright__right {
        column-gap: 5px;
    }

    .footer__preview__logo {
        max-width: 280px;
        height: auto;
    }

    .footer__main__element__form__btn {
        min-width: 150px;
    }
}