.modal {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    display: none;
}

.modal__window {
    flex: 0 1 700px;
    height: auto;
    background-color: var(--black-color);
    position: relative;
    z-index: 11111111111111;
    border-radius: 20px;
    padding: 40px;

}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;

}

.modal__header__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: var(--white-color);

    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    display: inline;

    letter-spacing: 2px;
    text-transform: uppercase;
}



.modal__header__title::before {
    content: "";
    background-color: #E1B168;
    width: 100%;
    position: absolute;
    height: 1px;
    top: 0;
    left: 0;
    transform: translateY(-6.7px);
}

.modal__header__title::after {
    content: "";
    background-color: #E1B168;
    width: 100%;
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    transform: translateY(6.7px);
}


.modal__header__about {
    font-weight: 400;
    margin-top: 15px;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: var(--white-color);
    font-family: 'Cormorant Infant', sans-serif;
    margin-bottom: 0px;
}

.modal__content {
    display: flex;
    justify-content: space-between;
    height: 350px;
    column-gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.modal__content__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    width: 100%;
    text-align: center;

}

.modal__content__left {
    height: 350px;
    display: flex;
    align-items: center;
}


.modal__content__right__inform {
    padding-top: 40px;
}

.modal__content__right__btn {
    height: 73px;
    background-color: #E1B168;
    color: #292E36;
    color: var(--black-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    min-width: 200px;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

.modal__content__right__title {
    font-weight: 400;
    font-size: 25px;
    position: relative;
    z-index: 111;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--white-color);
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 20px;
    margin-bottom: 20px;
}

.modal__content__right__about {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--gray-color);
}
.modal__sign__up__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 650px) {
    .modal__header__title {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 320px) {
    .modal__window {
        flex: 0 1;
        max-width: 100%;
    }

    .modal__window .form__username__input {
        width: 6rem;
        padding: 0.1rem;
        font-size: 0.5rem;
    }

    .modal__window .form__username__image {
        left: 4.5rem;
        width: 1rem;
        height: 1rem;
        transform: translateY(0.7rem);
    }

    .modal__window .modal__content__right__btn {
        font-size: 1rem;
        min-width: unset;
        width: 8rem;
    }
}

.modal__window__btn  {
    padding: 20px 85px;
    background-color: #E1B168;
    cursor: pointer;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 23px;
}

.modal__window__title {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.modal__auth__role__badge {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: var(--white-color);
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: 1px solid #E1B168;
}

.auth__modal__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: var(--white-color);
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 3rem;
}

.modal__content__bottom {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 2rem;
    column-gap: 3rem;
}

.modal__full__height {
    height: 100%;
}

.modal__content__right__price {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--gray-color);
    margin-top: 1rem;
}
