.cart__content {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.cart__dishes__content {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #AAAAAA;
}

.cart__dishes__container {
    display: flex;
    flex-direction: column;
}

.cart__summary__content {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #AAAAAA;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.cart__section__title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.cart__section__button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    background-color: unset;
    border: 1px solid #E1B168;
    color: #E1B168;
}

.cart__clear_btn {
    margin-right: 2.3rem;
}

.cart__fees__container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #AAAAAA;
}

.cart__dishes__summary__container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.cart__fee__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.2px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--white-color);
}

.cart__total__box {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

.cart__dish {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 3rem;
    margin-top: 1.5rem;
    border: solid 1px #AAAAAA;
    padding: 0.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.cart__dish__img {
    height: 10rem;
}

.cart__dish__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.cart__dish__text {
    color: var(--white-color);
    font-family: "Cormorant Infant";
    font-style: normal;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 140%;
    letter-spacing: 0.2px;
}

.cart__dish__button {
    color: #E1B168;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 92%;
    text-align: center;
    letter-spacing: 0.2px;
}

.cart__dish__button:hover {
    cursor: pointer;
}

.cart__dish__quantity {
    font-size: 1.5rem;
    font-family: "Josefin Sans";
}

.cart__dish__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 1.5rem;
}

.cart__dish__quantity__box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 2rem;
    padding-left: 5rem;
}

.cart__dish__rm {
    margin-right: 0.5rem;
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    .cart__dish {
        column-gap: 0.5rem;
    }

    .cart__section__button {
        width: 10rem;
    }

    .cart__dish__text {
        font-size: 1rem;
    }

    .cart__dish__quantity__box {
        padding-left: 0.5rem;
        align-items: center;
    }

    .cart__dish__quantity {
        font-size: 0.75rem;
    }

    .cart__dish__img {
        height: 6.5rem;
    }
}

@media screen and (max-width: 320px) {
    .cart__section__button {
        width: 5rem;
        font-size: 1rem;
    }

    .cart__fee__row {
        font-size: 0.5rem;
    }

    .cart__dish__img {
        height: 4rem;
    }

    .cart__summary__content {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .cart__dish__button {
        font-size: 1.5rem;
    }

    .cart__dish__text {
        font-size: 0.5rem;
    }

    .cart__dish {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .cart__section__title {
        font-size: 0.75rem;
    }

    .cart__dish__info {
        padding-right: 0;
        justify-content: flex-start;
        column-gap: 0.2rem;
    }

    .cart__dish__inner {
        width: 50%;
    }

    .cart__dish__quantity__box {
        column-gap: 0.5rem;
    }
}
