.review__content {
    margin: 2.8rem 4.6rem auto 4.6rem;
    padding: 3.8rem 5.8rem 2rem 5.8rem;
    border: solid 1px #AAAAAA;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: var(--white-color);
}

.review__content:invalid button {
    opacity: 0.5;
    pointer-events: none;
}

.review__inputs_header {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    margin-bottom: 2rem;
    align-items: center;
}

.review__text_input {
    padding: 0.5rem;
}

.review__text_input:invalid {
    border: 1px solid red;
}

.review__text_input::placeholder {
    color: var(--white-color);
}

.review__avatar_label {
    color: var(--black-color);
    background: var(--white-color);
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.review__avatar_label:hover {
    cursor: pointer;
}

.review__avatar_img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.review__textarea {
    padding: 0.5rem;
}

.review__textarea:invalid {
    border: 1px solid red;
}

.review__textarea::placeholder {
    color: var(--white-color);
}

.review__submit_btn {
    background: unset;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #E1B168;
    color: #E1B168;
}

.review__error_box {
    color: red;
    font-size: 1rem;
}
